flows.json
[{"id":"e2575bce.9a6be8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6d284390.aabafc","type":"mqtt in","z":"e2575bce.9a6be8","name":"","topic":"topic_x","qos":"2","datatype":"auto","broker":"4625d20b.34113c","nl":false,"rap":true,"rh":0,"x":70,"y":40,"wires":[["ce7dab08.fd1998","c89527b5.a0c318","14e3c8db.fed627"]]},{"id":"ce7dab08.fd1998","type":"debug","z":"e2575bce.9a6be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":40,"wires":[]},{"id":"a2583b30.2347b8","type":"mqtt in","z":"e2575bce.9a6be8","name":"","topic":"topic_y","qos":"2","datatype":"auto","broker":"4625d20b.34113c","nl":false,"rap":true,"rh":0,"x":70,"y":220,"wires":[["f41e153c.8d6a88","4c168d9e.7f7f64","86d11d00.c3fa6"]]},{"id":"f41e153c.8d6a88","type":"debug","z":"e2575bce.9a6be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":220,"wires":[]},{"id":"3bce6899.aa6718","type":"mqtt in","z":"e2575bce.9a6be8","name":"","topic":"topic_z","qos":"2","datatype":"auto","broker":"4625d20b.34113c","nl":false,"rap":true,"rh":0,"x":70,"y":400,"wires":[["9b6e8e.a49d317","b5ae3358.df047","3c26c759.938038"]]},{"id":"9b6e8e.a49d317","type":"debug","z":"e2575bce.9a6be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":400,"wires":[]},{"id":"b5ae3358.df047","type":"ui_chart","z":"e2575bce.9a6be8","name":"","group":"8ca565c7.0962b8","order":2,"width":5,"height":5,"label":"Acceleration Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":420,"y":460,"wires":[[]]},{"id":"4c168d9e.7f7f64","type":"ui_chart","z":"e2575bce.9a6be8","name":"","group":"af8ac236.e0fa2","order":2,"width":5,"height":5,"label":"Acceleration Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff7f0e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":420,"y":280,"wires":[[]]},{"id":"c89527b5.a0c318","type":"ui_chart","z":"e2575bce.9a6be8","name":"","group":"ba59a09f.03651","order":2,"width":5,"height":5,"label":"Acceleration X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-11","ymax":"-8","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ffff00","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ff0000","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":420,"y":100,"wires":[[]]},{"id":"14e3c8db.fed627","type":"ui_gauge","z":"e2575bce.9a6be8","name":"","group":"ba59a09f.03651","order":12,"width":7,"height":2,"gtype":"gage","title":"","label":"","format":"","min":"-10","max":"-9","colors":["#ffff00","#ff7f0e","#ff0000"],"seg1":"","seg2":"","x":390,"y":160,"wires":[]},{"id":"86d11d00.c3fa6","type":"ui_gauge","z":"e2575bce.9a6be8","name":"","group":"af8ac236.e0fa2","order":12,"width":7,"height":2,"gtype":"gage","title":"","label":"","format":"","min":"-1","max":"1","colors":["#ffff00","#ff7f0e","#ff0000"],"seg1":"","seg2":"","x":390,"y":340,"wires":[]},{"id":"3c26c759.938038","type":"ui_gauge","z":"e2575bce.9a6be8","name":"","group":"8ca565c7.0962b8","order":12,"width":7,"height":2,"gtype":"gage","title":"","label":"","format":"","min":"-1","max":"1","colors":["#ffff00","#ff7f0e","#ff0000"],"seg1":"","seg2":"","x":390,"y":520,"wires":[]},{"id":"60a4f19c.708da","type":"ui_slider","z":"e2575bce.9a6be8","name":"","label":"","tooltip":"","group":"3ca52e76.1405e2","order":2,"width":18,"height":1,"passthru":true,"outs":"all","topic":"rate","topicType":"msg","min":"0.5","max":10,"step":"0.5","x":390,"y":580,"wires":[["2a741aa2.c2c726","5da0fb47.efd364"]]},{"id":"2a741aa2.c2c726","type":"ui_numeric","z":"e2575bce.9a6be8","name":"","label":"","tooltip":"","group":"3ca52e76.1405e2","order":5,"width":5,"height":1,"wrap":false,"passthru":true,"topic":"rate","topicType":"msg","format":"{{value}}","min":"0.5","max":10,"step":"0.5","x":400,"y":680,"wires":[["60a4f19c.708da"]]},{"id":"5da0fb47.efd364","type":"mqtt out","z":"e2575bce.9a6be8","name":"","topic":"rate","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4625d20b.34113c","x":710,"y":580,"wires":[]},{"id":"bdbe84af.5a6318","type":"mqtt in","z":"e2575bce.9a6be8","name":"","topic":"rate","qos":"2","datatype":"auto","broker":"4625d20b.34113c","nl":false,"rap":true,"rh":0,"x":70,"y":580,"wires":[["60a4f19c.708da"]]},{"id":"4625d20b.34113c","type":"mqtt-broker","name":"Mosquitto","broker":"","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8ca565c7.0962b8","type":"ui_group","name":"Group Z","tab":"8f44baa0.4e3288","order":3,"disp":false,"width":7,"collapse":false},{"id":"af8ac236.e0fa2","type":"ui_group","name":"Group Y","tab":"8f44baa0.4e3288","order":2,"disp":false,"width":7,"collapse":false},{"id":"ba59a09f.03651","type":"ui_group","name":"Group X","tab":"8f44baa0.4e3288","order":1,"disp":false,"width":7,"collapse":false},{"id":"3ca52e76.1405e2","type":"ui_group","name":"Rate","tab":"8f44baa0.4e3288","order":4,"disp":true,"width":"22","collapse":false},{"id":"8f44baa0.4e3288","type":"ui_tab","name":"Home","icon":"","disabled":false,"hidden":false}]